*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2)
}
.container{
    width: 420px;
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
h1{
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 2rem;
    font-weight: 700;
}
.input-area{
    display: flex;
    gap: 10px;
}
input{
    flex: 1;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: 0.2s;
}
input:focus{
    border-color: #667eea;
}
button{
    padding: 12px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #667eea;
    color: white;
    font-weight: bold;
    transition: 0.2s;
}
button:hover {
    background: #5a67d8;
    transform: scale(1.05);
}

ul{
    list-style: none;
    margin-top: 20px;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #f7f7f7;
    transition: 0.2s;
}
li:hover{
    background: #eee;
}
.deleteBtn {
    background: #ff4d4d;
    padding: 6px 10px;
    font-size: 12px;
    border-radius: 6px;
}
.completed{
    text-decoration: line-through;
    opacity: 0.6;
}
.stats{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.stat-card{
    flex: 1;
    background: #f7f7f7;
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    transition: 0.2s;
}
.stat-card:hover{
    transform: translateY(-2px);
}
.stat-card span{
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #667eea;
}
.stat-card p{
    margin-top: 5px;
    color: #666;
    font-size: 13px;
}